body{
    font-family: Arial, sans-serif;
    min-width: 250px;
    min-height: 150px;
    background: url(./img/bg1.jpg);
}

img{
    height: 20px;
    float: left;
    margin: 0 5px;
}

h2{
    margin: 20px 5px;
}

h4, p{
    margin-left: 15px;
}
